.hero {
  display: flex;
  padding-left: 110px;
  justify-content: space-between;
  align-items: center;
  background-color: #EAE6DF;

  .hero-message {
    display: flex;
    flex-direction: column;

    h1 {
      font-family: "Cormorant Garamond";
      font-size: 7.6rem;
      line-height: 1.05;
      position: relative;

      margin-bottom: 48px;

      span {
        color: #C28A3C;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
        height: 1px;
        width: 120px;
        background-color: #C28A3C;
      }
    }

    p {
      font-family: "Geist";
      font-size: 1.6rem;
      line-height: 1.5;
      color: #7A7A7A;

      margin-bottom: 20px;
    }

    .action {
      display: flex;
      gap: 16px;
      font-family: "Geist";
      font-size: 1.4rem;
      font-weight: medium;

      a {
        padding: 18px 32px;
        border-radius: 4px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
      }

      .call {
        color: #FFFFFF;

        background-color: #C28A3C;
      }

      .catalog {
        color: #000000;

        border: #000000 solid 1px;
      }
    }
  }
}