.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 80px;
    padding: 20px;
    position: relative;
    margin-bottom: 12px;

    font-family: "Cormorant Garamond";
    font-size: 4rem;
    line-height: 1.05;

    span {
      color: #CA6B34;
    }

    ::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 20px;
      height: 1px;
      width: 120px;
      background-color: #CA6B34;
    }
  }

  p {
    padding: 10px 20px;

    font-family: "Geist";
    font-size: 1.6rem;
    line-height: 1.5;
    color: #7A7A7A;
  }

  .action {
    padding: 10px 20px;
    margin-bottom: 24px;

    display: flex;
    gap: 16px;

    a,
    button {
      padding: 10px 16px;
      margin: 0;
      border-radius: 4px;

      font-family: "Geist";
      font-size: 1rem;
      font-weight: medium;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }

    .call {
      color: #FFFFFF;

      background-color: #CA6B34;
    }

    .catalog {
      color: #000000;

      border: #000000 solid 1px;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;

    .hero-message {
      display: flex;
      flex-direction: column;
      width: 40vw;

      h1 {
        top: 20px;
        margin: 100px 0 48px 10%;
        padding: 0;
        font-size: 4rem;

        ::after {
          left: 0;
          bottom: -20px;
        }
      }

      p {
        margin-bottom: 20px;
        margin-left: 10%;
        padding: 0;
        text-wrap: balance;

        font-size: 1rem;
      }

      .action {
        padding: 0;
        margin-left: 10%;
      }
    }

    img {
      width: 60vw;
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    .hero-message {
      h1 {
        top: 0;
        margin: 0 auto 45px 15%;
        font-size: 5.5rem;

        ::after {
          left: 0;
          bottom: -20px;
        }
      }

      p {
        margin-bottom: 20px;
        margin-left: 15%;
        padding: 0;
        text-wrap: balance;

        font-size: 1.6rem;
      }

      .action {
        padding: 0;
        margin-left: 15%;

        a,
        button {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .hero {
    .hero-message {
      h1 {
        top: 0;
        font-size: 6.7rem;

        ::after {
          left: 0;
          bottom: -20px;
        }
      }

      p {
        margin-bottom: 30px;
        margin-left: 15%;
        padding: 0;
        text-wrap: balance;

        font-size: 1.8rem;
      }

      .action {
        padding: 0;
        margin-left: 15%;

        a,
        button {
          font-size: 1.8rem;
        }
      }
    }
  }
}