.galleryCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: #a3a3a3 solid 1px;
  /* background-color: #1A1715; */
  background-color: #fff;
  /* color: #fff; */

  p {
    /* margin: 25px auto 10px 25px; */
    margin: 25px auto 10px 25px;
    text-transform: lowercase;

    color: #CA6B34;
    /* font-size: 1.8rem; */
    font-size: 1rem;
  }

  h3 {
    margin-left: 25px;

    font-family: "Cormorant Garamond";
    /* font-size: 2.4rem; */
    font-size: 1.6rem;
  }

  .gallery-card-action {
    margin: 15px;
    margin-left: 25px;
    /* margin: 25px 20px 15px; */
    display: flex;
    gap: 10px;
    justify-content: space-between;

    /* font-size: 1.6rem; */
    font-size: 1rem;
  }

  .gallery-card-action a:nth-child(1) {
    /* Подробнее */
    text-transform: uppercase;
    text-align: center;
    /* width: 70%; */
    flex: 3;
    /* padding: 12px; */
    padding: 8px;
    /* border: 1px solid #D9D9D9; */
    border: 1px solid #666666;
    border-radius: 5px;
  }

  .gallery-card-action button:nth-child(2) {
    /* Цена */
    /* width: 22%; */
    flex: 1.25;
    /* color: #000000; */
    color: #fff;
    background-color: #CA6B34;
    border-radius: 5px;
  }
}