.product {
  padding: 80px 10px;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "title"
    "pictures"
    "description"
    "params"
    "scheme"
    "colorPalette"
    "peculiarities"
    "action";

  nav {
    grid-area: nav;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;

    a {
      position: relative;

      font-family: "Montserrat Alternates";
      /* font-size: 2.4rem; */
      font-size: 1.2rem;
      font-weight: 300;
      color: #0D0D0D;

      &:nth-child(1)::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 60%;
        right: -10%;
        top: 50%;
        transform: translateY(-50%);
        background-color: #31313188;
      }
    }

    .name {
      display: none;
    }

    .back {
      margin-left: auto;

      font-weight: normal;
      color: #C9964F;
      letter-spacing: 0.12em;

      span {
        font-size: 1.5em;
      }
    }
  }

  .title {
    grid-area: title;

    h2 {
      font-family: "Montserrat Alternates";
      font-size: 1.2rem;
      /* font-size: 1.3rem; */
      text-transform: lowercase;
      letter-spacing: 0.12em;
      color: #C9964F;
    }

    h1 {
      font-family: "Cormorant Garamond";
      font-size: 3.6rem;
      /* font-size: 5.2rem; */
      font-weight: 500;
    }
  }

  .pictures {
    grid-area: pictures;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      width: 18%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
      }
    }

    .main {
      width: 100% !important;
      margin-bottom: 16px;
    }
  }

  .description {
    grid-area: description;

    font-family: "Geist";
    font-size: 1.4rem;
    font-weight: 300;
    color: #242424;
  }

  .params {
    grid-area: params;
    justify-self: center;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 12px;

      font-family: "Montserrat Alternates";
      font-size: 1.4rem;
      font-weight: 500;
    }

    dl {
      display: flex;
      flex-direction: column;
      padding: 16px;
      gap: 10px;
      border: #D4D4D4 solid 1px;
      border-radius: 5px;

      font-family: "Geist";
      font-size: 1.3rem;

      div {
        display: flex;
        justify-content: space-between;

        dt {
          color: #242424;
        }

        dd {
          font-weight: 600;
          color: #0D0D0D;
        }
      }

      hr {
        height: 1px;
        width: 100%;
        background-color: #D4D4D4;
      }
    }

  }

  .scheme {
    grid-area: scheme;
    justify-self: center;
  }

  .colorPalette {
    grid-area: colorPalette;
    justify-self: center;
    width: 100%;
    max-width: 400px;

    h2 {
      margin-bottom: 12px;

      font-family: "Geist";
      font-size: 1.4rem;
      font-weight: 500;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        img {
          width: 30%;
          aspect-ratio: 1.5;
          border-radius: 6px;
          object-fit: cover;
        }

        div {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h3 {
            font-family: "Cormorant Garamond";
            font-size: 1.6rem;
            font-weight: 500;
          }

          p {
            font-family: "Geist";
            font-size: 1.2rem;
            color: #B9B9B9;
          }
        }
      }
    }
  }

  .peculiarities {
    grid-area: peculiarities;
    justify-self: center;
    width: 100%;
    max-width: 400px;

    h2 {
      margin-bottom: 12px;

      font-family: "Geist";
      font-size: 1.4rem;
      font-weight: 500;
    }

    ul {
      padding: 8px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        img {
          height: 100%;
          object-fit: cover;
        }

        div {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h3 {
            font-family: "Cormorant Garamond";
            font-size: 1.6rem;
            font-weight: 500;
          }

          p {
            font-family: "Geist";
            font-size: 1.2rem;
            color: #B9B9B9;
          }
        }
      }
    }
  }

  .action {
    grid-area: action;
    padding: 25px;
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: auto;
    align-self: flex-end;

    p {
      font-family: "Cormorant Garamond";
      font-size: 2.8rem;
      /* font-size: 3.2rem; */
      color: #C9964F;
    }

    button {
      padding: 5px;
      border: #C9964F 1px solid;
      border-radius: 50%;
    }

    a {
      background-color: #C9964F;
      border-radius: 50px;
      padding: 8px 10px;
      /* padding: 12px 20px; */
      text-align: center;

      font-family: "Montserrat Alternates";
      font-size: 1rem;
      /* font-size: 1.6rem; */
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 425px) {
  .product {
    padding: 100px 30px;
  }
}

@media (min-width: 768px) {
  .product {
    padding: 120px 60px;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "nav nav"
      "title title"
      "pictures pictures"
      "description description"
      "params scheme"
      "colorPalette peculiarities"
      "action action";

    nav {
      gap: 25px;

      a {
        /* font-size: 2.4rem; */
        font-size: 1.6rem;

        &:nth-child(1)::after,
        &:nth-child(2)::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 70%;
          right: -18%;
          top: 50%;
          transform: translateY(-50%);
          background-color: #31313188;
        }
      }

      .name {
        display: block;
        color: #0D0D0D;
        font-weight: 400;
      }
    }

    .title {
      h2 {
        font-size: 1.5rem;
        /* font-size: 1.5rem; */
      }

      h1 {
        /* font-size: 5.2rem; */
        font-size: 4.6rem;
      }
    }

    .pictures {
      .main {
        margin-bottom: 16px;
      }
    }

    .description {
      font-size: 2rem;
    }

    .params {
      max-width: 400px;

      h2 {
        font-size: 1.8rem;
      }

      dl {
        padding: 16px;
        gap: 15px;

        font-size: 1.5rem;
      }
    }

    .scheme {
      margin-top: 25px;
    }

    .colorPalette {
      h2 {
        font-size: 1.8rem;
      }

      ul {
        gap: 12px;

        li {
          gap: 20px;

          div {
            h3 {
              font-size: 2rem;
            }

            p {
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    .peculiarities {
      h2 {
        font-size: 1.8rem;
      }

      ul {
        gap: 12px;

        li {
          gap: 20px;

          div {

            h3 {
              font-size: 2rem;
            }

            p {
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    .action {
      gap: 25px;

      p {
        font-size: 3.2rem;
      }

      button {
        padding: 10px;
      }

      a {
        padding: 12px 20px;

        font-size: 1.6rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .product {
    padding: 140px 60px;
    gap: 25px;
    grid-template-columns: 1fr 1fr 30% 15%;
    grid-template-areas:
      "nav nav nav nav"
      "pictures pictures title peculiarities"
      "pictures pictures description peculiarities"
      "pictures pictures colorPalette peculiarities"
      "params scheme action action";

    nav {
      gap: 25px;

      a {
        /* font-size: 2.4rem; */
        font-size: 1.8rem;
      }
    }

    .title {
      h2 {
        font-size: 1.5rem;
        /* font-size: 1.5rem; */
      }

      h1 {
        /* font-size: 5.2rem; */
        font-size: 3rem;
      }
    }

    .pictures {
      li {
        max-height: 12%;
      }

      .main {
        max-height: none;
        margin-bottom: 16px;
      }
    }

    .description {
      font-size: 2rem;
    }

    .params {
      max-width: 400px;

      h2 {
        font-size: 1.8rem;
      }

      dl {
        padding: 16px;
        gap: 15px;

        font-size: 1.5rem;
      }
    }

    .scheme {
      margin-top: 25px;
    }

    .colorPalette {
      h2 {
        font-size: 1.8rem;
      }

      ul {
        gap: 12px;

        li {
          gap: 20px;

          div {
            h3 {
              font-size: 2rem;
            }

            p {
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    .peculiarities {
      h2 {
        font-size: 1.8rem;
      }

      ul {
        gap: 12px;

        li {
          gap: 20px;

          div {

            h3 {
              font-size: 2rem;
            }

            p {
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    .action {
      gap: 25px;
      padding: 0;

      p {
        font-size: 3.2rem;
      }

      button {
        padding: 10px;
      }

      a {
        padding: 12px 20px;

        font-size: 1.6rem;
      }
    }
  }
}

/* .product {
  padding: 160px 80px;
  border-bottom: 1px solid #797979;

  nav {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 50px;

    font-family: "Montserrat Alternates";
    font-size: 2.4rem;
    font-weight: 300;
    color: #0D0D0D;

    a:nth-child(1),
    a:nth-child(2) {
      position: relative;
    }

    a:nth-child(1)::after,
    a:nth-child(2)::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 60%;
      right: -25px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #31313188;
    }

    a:nth-child(3) {
      font-weight: 400;
    }

    a:last-child {
      margin-left: auto;

      color: #C9964F;
      letter-spacing: 0.12em;
      font-size: 1.6rem;
      font-weight: normal;

      span {
        font-size: 2.4rem;
      }
    }
  }

  .first {
    display: flex;
    gap: 50px;

    .pictures {
      flex: 3;
      display: flex;
      flex-direction: column;

      .main {
        height: 80%;
        object-fit: cover;
        border-radius: 10px;
      }

      ul {
        position: relative;
        margin-top: 18px;
        display: flex;
        justify-content: space-evenly;

        li {
          width: 15%;
          border-radius: 10px;
          overflow: hidden;

          img {
            height: 100%;
          }
        }

        &::before,
        &::after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          font-family: "Geist";
          font-size: 2.4rem;
        }

        &::before {
          content: "<";
          left: 0;
        }

        &::after {
          content: ">";
          right: 0;
        }
      }

    }

    .description {
      flex: 1.75;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;

      h2 {
        font-family: "Montserrat Alternates";
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.12em;
        color: #C9964F;
      }

      h1 {
        font-family: "Cormorant Garamond";
        font-size: 5.2rem;
        font-weight: 500;
      }

      p {
        font-family: "Geist";
        font-weight: 300;
        font-size: 1.6rem;
        color: #242424;
      }

      .description-text {
        position: relative;
        margin-bottom: 60px;

        color: #0D0D0D;
        letter-spacing: 0.12em;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: #D4D4D4;
          left: 0;
          bottom: -38px;
        }
      }

      p:nth-child(2) {
        color: #0D0D0D;
        letter-spacing: 0.12em;
      }

      .colorPalette {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
          width: 45%;
          margin-bottom: 25px;
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 10px;

        }
      }

      .aside-info {
        flex: 1;

        display: flex;
        flex-direction: column;

      }
    }

    .aside-info {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 40px;
      padding: 0 0 0 40px;

      li {
        width: 100%;
        position: relative;
      }

      h3 {
        margin-bottom: 12px;
        font-family: "Cormorant Garamond";
        font-size: 2.4rem;
        font-weight: 600;
      }

      p {
        font-family: "Geist";
        font-weight: 300;
        font-size: 1.6rem;
      }

      hr {
        position: relative;
        top: 22px;
        height: 1px;
        background-color: #D4D4D4;
      }

      img {
        position: absolute;
        right: 104%;
        top: 0;
        border: 1px #C9964F solid;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
  }

  .second {
    display: flex;
    align-items: flex-start;

    dl {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 18px;
      border: #D4D4D4 solid 1px;
      border-radius: 5px;
      padding: 25px;
      width: 400px;

      font-family: "Geist";
      font-size: 1.3rem;

      div {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      hr {
        height: 1px;
        width: 100%;
        background-color: #D4D4D4;
      }
    }

    .action {
      display: flex;
      align-items: center;
      gap: 25px;
      margin-left: auto;
      align-self: flex-end;

      p {
        font-family: "Cormorant Garamond";
        font-size: 3.2rem;
        color: #C9964F;
      }

      button {
        padding: 10px;
        border: #C9964F 1px solid;
        border-radius: 50%;
      }

      a {
        background-color: #C9964F;
        border-radius: 50px;
        padding: 12px 20px;

        font-family: "Montserrat Alternates";
        font-size: 1.6rem;
        color: #FFFFFF;
        text-transform: uppercase;
      }
    }
  }
} */