footer {
  padding: 30px 20px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;

  border-top: 1px solid #000;

  h2 {
    width: 100%;
    font-size: 3.2rem;
    margin-bottom: 30px;
  }

  &>ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    gap: 12px;

    li {
      font-size: 1.1rem;
      font-family: "Montserrat Alternates";
      letter-spacing: 0.12em;
      color: #3E3E3E;

      &:nth-child(1) {
        color: #000;
      }
    }
  }

  .footer__catalog {
    order: 1;
  }

  .footer__about {
    display: none;
    order: 2;
  }

  .footer__contact {
    order: 3;

    .leave-request {
      padding: 10px 15px;
      /* padding: 20px 35px; */

      text-align: center;
      text-transform: lowercase;

      border: solid 1px #000000;
      border-radius: 4px;

      /* font-size: 2rem; */
    }
  }

  .footer__social {
    order: 4;
    flex-direction: row;
    gap: 25px;

    img {
      width: 25px;
    }
  }

  .footer__copyright {
    order: 5;
    width: 100%;

    font-family: "Geist";
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    color: #7A7A7A;
  }
}

@media (min-width: 425px) {
  footer {
    padding: 30px 30px;

    h2 {
      width: 100%;
      font-size: 3.8rem;
    }

    .footer__about {
      display: flex;
    }

    .footer__social {
      img {
        width: 35px;
      }
    }
  }
}

@media (min-width: 768px) {
  footer {
    padding: 40px;

    h2 {
      width: 100%;
      font-size: 4rem;
    }

    &>ul>li {
      font-size: 1.4rem;
    }

    .footer__social {
      img {
        width: 40px;
      }
    }

    .footer__copyright {
      font-size: 1.4rem;
    }
  }
}

@media (min-width: 1024px) {
  footer {
    padding: 60px 5%;

    h2 {
      width: fit-content;
      position: relative;
      bottom: 17px;
      font-size: 4rem;
    }

    .footer__social {
      img {
        width: 40px;
      }
    }
  }
}

@media (min-width: 1440px) {
  footer {
    h2 {
      width: fit-content;
      position: relative;
      bottom: 25px;
      font-size: 6.7rem;
    }

    &>ul>li {
      font-size: 1.8rem;
    }

    .footer__social {
      img {
        width: 60px;
      }
    }

    .footer__copyright {
      font-size: 1.8rem;
    }
  }
}