.numbers {
  padding: 20px 10px;

  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;

  p {
    width: 50%;
    margin-bottom: 20px;

    font-family: "Montserrat Alternates";
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    color: #7A7A7A;

    span {
      font-family: "Cormorant Garamond";
      font-size: 2.6rem;
      color: #C28A3C;
    }
  }
}

@media (min-width: 425px) {
  .numbers {
    padding: 30px;

    p {
      font-size: 1.8rem;

      span {
        font-size: 3.6rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .numbers {
    padding: 40px;
    flex-wrap: nowrap;
  }
}

@media (min-width: 1024px) {
  .numbers {
    p {
      font-size: 2.4rem;

      span {
        font-size: 8rem;
      }
    }
  }
}