.advantages {
  ul {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      svg {
        height: 25px;
      }

      p {
        font-family: "Montserrat";
        font-weight: 300;
        font-size: 1rem;
        /* font-size: 2rem; */
        text-align: center;
        text-wrap: balance;
      }
    }
  }
}

@media (min-width: 425px) {
  .advantages {
    ul {
      padding: 30px 20px;

      li {
        gap: 16px;

        svg {
          height: 35px;
        }

        p {
          /* font-size: 1rem; */
          /* font-size: 2rem; */
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .advantages {
    ul {
      padding: 30px 60px;

      li {
        gap: 20px;

        svg {
          height: 50px;
        }

        p {
          /* font-size: 1rem; */
          /* font-size: 2rem; */
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .advantages {
    ul {
      padding: 30px 10%;

      li {

        svg {
          height: 68px;
        }

        p {
          font-size: 2rem;
        }
      }
    }
  }
}