:root {
  font-size: 62.5%;
}

html {
  /* background-color: ; */
  /* background: linear-gradient(to right, red, blue); */
  /* background-image: url("./assets/Hero.png"); */
}


/* Cormorant Garamond */
@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

/* Cormorant Garamond Italic */
@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/Cormorant_Garamond/CormorantGaramond-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
}

/* Geist */
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Geist Italic */
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* 1. Обычный (Normal) */
/* Montserrat Alternates */
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('MontserratAlternates-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* 2. Курсив (Italic) */
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('MontserratAlternates-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('MontserratAlternates-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}