:root {
  font-size: 62.5%;
  background-color: #FFFFFF;
}

html {
  scroll-padding-top: 116px;
  scroll-behavior: smooth;
}

/* Cormorant Garamond */
@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

/* Cormorant Garamond Italic */
@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/Cormorant_Garamond/CormorantGaramond-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 300 700;
  font-style: italic;
  font-display: swap;
}

/* Geist */
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Geist Italic */
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Italic */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Montserrat Alternates */
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/Montserrat_Alternates/MontserratAlternates-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* 2. Montserrat Alternates Italic */
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/Montserrat_Alternates/MontserratAlternates-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/Montserrat_Alternates/MontserratAlternates-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/Montserrat_Alternates/MontserratAlternates-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/fonts/Montserrat_Alternates/MontserratAlternates-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}